<ion-header [translucent]="true">
    
  
  
  <ion-grid>
    <ion-row>
      <ion-col size="0.5">
        <ion-button [routerLink]="['../ciudad']"></ion-button>
      </ion-col>
      <ion-col size="1.5">
        <img src="..\..\..\assets\img\iconomadera.png">
      </ion-col>
      <ion-col size="6">
          <h1>Leñador</h1>
          <p>Durante el dia los leñadores se dedican a recolectar madera. Dicen que el bosque de noche oculta muchos
            misterios</p>

      </ion-col>        
      <ion-col>
          <h1>LEVEL</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

</ion-content>