<ion-header [translucent]="true">  
  <ion-toolbar>   
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>     
    <ion-title>Castillo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="..\..\..\assets\img\castillo.png" alt="avatar" />
      </ion-avatar>
      <ion-label>Castillo</ion-label>
      </ion-item>
    
    <ion-item>
      <ion-avatar>
        <img src="..\..\..\assets\img\cuartel.png" alt="avatar" />
      </ion-avatar>
      <ion-label>Cuartel</ion-label>

    </ion-item>
  </ion-list>
</ion-content>
