<ion-content>
  <ion-grid>
    <ion-row>
        <img src="../../../assets/img/ciudadjugadores.png">
        <img src="../../../assets/img/ciudadjugadores.png">
        <img src="../../../assets/img/ciudadvacia.png">
        <img src="../../../assets/img/ciudadvacia.png">
        <img src="../../../assets/img/ciudadjugadores.png">
        <img src="../../../assets/img/ciudadvacia.png">
        <img src="../../../assets/img/ciudadvacia.png">
        <img src="../../../assets/img/ciudadnpc.png">
        

    </ion-row>
    <ion-row>
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadjugadores.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadnpc.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">   

    </ion-row>
    <ion-row>
      
      <img src="../../../assets/img/ciudadvacia.png">
      <img (click)="select()" src="../../../assets/img/ciudadjugadores.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadnpc.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadjugadores.png">
      <img src="../../../assets/img/ciudadvacia.png">


    </ion-row>
    <ion-row>
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">


    </ion-row>

    <ion-row>
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
    </ion-row>
  </ion-grid>
  

  
</ion-content>

<ion-grid class="panelAtaque">
  <ion-row>
    <ion-col>
<ion-label>Ciudad: {{ ciudad }}</ion-label> 
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-label>Jugador: {{ usuario}}</ion-label> 
</ion-col>
</ion-row>
<ion-row>
  <ion-col size="2">
<img class="iconos" src="../../../assets/img/lanza.png"/>
</ion-col>
<ion-col size="4">
<ion-item>
  <ion-input></ion-input>
</ion-item>
</ion-col>
<ion-col><ion-label>({{ lanzas }})</ion-label></ion-col>
</ion-row>
<ion-row>
  <ion-col size="2">
<img class="iconos" src="../../../assets/img/espada.png"/>
</ion-col>
<ion-col size="4">
<ion-item>
  <ion-input></ion-input>
</ion-item>
</ion-col>
<ion-col><ion-label>(0)</ion-label></ion-col>
</ion-row>
<ion-row>
  <ion-col size="2">
<img class="iconos" src="../../../assets/img/hacha.png"/>
</ion-col>
<ion-col size="4">
  <ion-item>
  <ion-input></ion-input>
  </ion-item>
</ion-col>
<ion-col><ion-label>(0)</ion-label></ion-col>
</ion-row>
<ion-row>
  <ion-col>    
  <div class="ion-text-center">
<ion-button class="atacar" (click)="atacar()">
  <ion-label>Atacar</ion-label>
</ion-button>  
</div>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <div class="ion-padding">
      <ion-label *ngIf="success" color="success">{{ success }}</ion-label>
      </div>
  </ion-col>
</ion-row>
</ion-grid>
<ion-button class=button1 [routerLink]="['../ciudad']">
  <img class="menus" src="../../../assets/img/casas.png">
</ion-button>