ion-col {
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    width: fit-content;
    height: fit-content;
  }

ion-row{
    text-align: center;
    height: fit-content;
}

img {
  width: 10vw;
  height: 15vh;
}