<ion-content scrollX="true" scrollY="true">
  <menu></menu>

  <ion-grid style="width: 90%">
    <ion-row >
        <img src="../../../assets/img/ciudadjugadores.png">
        <img src="../../../assets/img/ciudadjugadores.png">
        <img src="../../../assets/img/ciudadvacia.png">
        <img src="../../../assets/img/ciudadvacia.png">
        <img src="../../../assets/img/ciudadjugadores.png">
        <img src="../../../assets/img/ciudadvacia.png">
        <img src="../../../assets/img/ciudadvacia.png">
        <img src="../../../assets/img/ciudadnpc.png">
        

    </ion-row>
    <ion-row>
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadjugadores.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadnpc.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">   

    </ion-row>
    <ion-row>
      
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadjugadores.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadnpc.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadjugadores.png">
      <img src="../../../assets/img/ciudadvacia.png">


    </ion-row>
    <ion-row>
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">


    </ion-row>

    <ion-row>
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
      <img src="../../../assets/img/ciudadvacia.png">
    </ion-row>
  </ion-grid>
    
</ion-content>
