
ion-tab-bar {
    
    left: 30vw;
    position: relative;
    width: 40%;
    margin: 0 auto;    
  }

  ion-tab-bar, ion-tab-button{
    background-color: transparent;
   }
  
  ion-tab-button {
    --color: rgb(11, 61, 17);
    --color-selected: var(--ion-color-primary); 
  
    &::before {
      background-color: transparent;
      display: flex;
      content: "";
      margin: 0 auto;
      width: 20px;
      height: 2px;
    }
  
    &.tab-selected::before {
      background-color: var(--ion-color-primary);
    }
  }

  
  