ion-content.background{
    --background: url(poblado.png) 0 0/100% 100% no-repeat;
}

.collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, 5.5vw);
    grid-auto-rows: 10vw;
    justify-content: center;
}

ion-button{
    color: rgb(0, 0, 0);
    width: 56px;        
    position: absolute;
    margin-left: 85%;
    margin-top: 47%;    
    --background: transparent;
    --border-color: transparent;
}

button{
    background-color: transparent;   
}
       