<ion-header [translucent]="true">
  <ion-toolbar hidden>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="collection" id="collection" style="margin-left: 80vw; margin-top: 45vw;">
    <ion-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label></ion-label>
    </ion-button>
  
    <ion-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label></ion-label>
    </ion-button>
  
    <ion-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label></ion-label>
    </ion-button>
  </div>
  
</ion-content>
