ion-content.background{
    --background: url(poblado.jpg) 0 0/100% 100% no-repeat;
}

.collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, 5.5vw);
    grid-auto-rows: 10vw;
    justify-content: center;
}

ion-button{
    color: rgb(3, 12, 12);    
    border-radius: round;
    width: 56px;

    &::after{
        color: transparent;
    }
}