ion-toolbar {
    --background: #3880ff;
    color: white;
  }
  
  ion-content {
    --background: #f4f5f8;
  }
  
  ion-item {
    --ion-input-placeholder-color: #bfbfbf;
  }
  
  ion-button {
    --background: #3880ff;
    --color: white;
    margin-top: 20px;
  }
  