ion-content{  
  --background: url(../../../assets/img/fondoLogin.png) 0 0/100% 100% no-repeat;
  }
  
  ion-item {
    --ion-input-placeholder-color: #aa8465;    
  }
  
  ion-button {    
    --background: #266886;
    --color: white;
  }

  ion-label{
    color: black;   
    
  }

  ion-button.register {
    --background: #cadb8c;
    --color: rgb(7, 7, 7);
  }

  .link-as-text a {
    text-decoration: none;
    color: inherit;
    cursor: inherit;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }