<ion-content class="background">
  
  <ion-button class="mina" [routerLink]="['../mina']"></ion-button>
     
  <ion-button class="madera" [routerLink]="['../madera']"></ion-button>

  <ion-button class="castillo" [routerLink]="['../castillo']"></ion-button>
 
  <ion-button class="cuartel" [routerLink]="['../cuartel']"></ion-button>

  <ion-button class="almacen" [routerLink]="['../almacen']"></ion-button>

  <ion-button class="barrera" [routerLink]="['../barrera']"></ion-button>

  <!--ion-button class=button1 [routerLink]="['../ciudad']">
    <img class="menus" src="../../../assets/img/casas.png">
  </ion-button-->

  <ion-button class=button2 [routerLink]="['../mapa']">
    <img class="menus" src="../../../assets/img/mapa.png">
  </ion-button>
  
  <ion-button class="recursomadera" >
    
    <img src="../../../assets/img/maderasrc.png">
    <a>{{ wood }}</a>
  </ion-button>

  <ion-button class="recursobarro">
    <img src="../../../assets/img/iconobarro.png">
    <a>{{ mud }}</a>
  </ion-button>

  <ion-button class="recursopiedra">
    <img src="../../../assets/img/iconopiedra.png">
    <a>{{ stone }}</a>
  </ion-button>

</ion-content>

