ion-content.background{
    --background: url(../../../assets/img/poblado.png) 0 0/100% 100% no-repeat;
}

ion-button{
    width: 10vw;
    height: 17vh;
    background-color: transparent;
    --background : transparent;
    border-color: transparent;

    
    
}

.castillo{
    display: ion-button;    
    width: 15vw;
    height: 25vh;
}



       