<div class="collection">
  <ion-button tab="tab1" [routerLink]="['../tab1']">
    <img src="..\assets\img\circulo.png">
    <ion-label></ion-label>
  </ion-button>

  <ion-button tab="tab2" [routerLink]="['../tab2']" style="margin-left: 90%;">
    <ion-icon name="ellipse"></ion-icon>
    <ion-label></ion-label>
  </ion-button>

  <ion-button  tab="tab3" [routerLink]="['../tab3']" style="margin-left: 95%;">
    <ion-icon name="square"></ion-icon>
    <ion-label></ion-label>
  </ion-button>
</div>