.collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, 5.5vw);
    grid-auto-rows: 10px;
    justify-content: center;
    margin-top: 0vw;
    margin-left: 0vw;
}

ion-button{
    color: rgb(0, 0, 0);
    width: 56px;       
}