ion-button{
    color: rgb(0, 0, 0);
    width: 3vw; 
    height: 5vh;     
    position: fixed;
    margin-top: 90vh;
}

.button1{
    display: ion-button;  
    margin-left: 86vw;
    width: 3vw; 
    height: 5vh;   
    position: fixed;
}

.button2{
    display: ion-button;   
    margin-left: 90vw;
    width: 3vw; 
    height: 5vh;   
    position: fixed;
}

.button3{
    display: ion-button;  
    margin-left: 94vw;
    width: 3vw; 
    height: 5vh;   
    position: fixed;
}